@charset "UTF-8"

// Main styles


/** General ******************************/
/*****************************************/

*,
*:before,
*:after
	+box-sizing(border-box)


header,
section,
footer
	position: relative

.fixed
	position: fixed

/** Header ******************************/
/****************************************/



/** Aside ******************************/
/***************************************/

float: right

/** Navigation ******************************/
/********************************************/



/** Content ******************************/
/*****************************************/




/** Twitter ******************************/
/*****************************************/




/** Footer ******************************/
/****************************************/

footer
	font-size: smaller