@charset "UTF-8"

// Main styles


/** General ******************************/
/*****************************************/

*,
*:before,
*:after
	+box-sizing(border-box)

body
	margin: 0 auto
	+remsize(margin-top, 60)
	+remsize(max-width, 900)

/** Header ******************************/
/****************************************/

header
	font-size: smaller
	border-bottom: 3px solid lighten($black, 10%)
	+remsize(padding-bottom, 50)
	+remsize(margin-bottom, 50)

/** Aside ******************************/
/***************************************/

aside
	@extend %sidepart



/** Navigation ******************************/
/********************************************/



/** Content ******************************/
/*****************************************/


main
	float: left
	width: 75%

article
	border-bottom: 1px dashed
	+remsize(padding-bottom, 50)
	+remsize(margin-bottom, 50)

.intro
	+fsrem(19)
	font-weight: bold
	+remsize(margin-bottom, 30)


/** Twitter ******************************/
/*****************************************/




/** Footer ******************************/
/****************************************/

footer
	@extend %sidepart

%sidepart
	font-size: smaller
	float: right
	text-align: right
	width: 25%