@charset "UTF-8"

// Main styles


/** General ******************************/
/*****************************************/

*,
*:before,
*:after
	+box-sizing(border-box)

body
	margin: 0 auto
	+remsize(margin-top, 60)
	max-width: 80%


// html
// 	&:after
// 		background-image: linear-gradient(transparent, transparent 15%, white), url('../images/background.jpg')
// 		height: 0
// 		padding-top: 50%
// 		display: block
// 		position: absolute
// 		top: 0
// 		left: 0
// 		right: 0
// 		background-size: cover
// 		content: ""
// 		z-index: -1


/** Header ******************************/
/****************************************/

header
	font-size: smaller
	border-bottom: 3px solid lighten($black, 10%)
	+remsize(padding-bottom, 50)
	+remsize(margin-bottom, 50)

/** Aside ******************************/
/***************************************/

aside
	+fsrem(16)
	overflow: hidden
	+remsize(margin-bottom, 50)

	li,
	.unstyled li
		float: left
		+remsize(margin-right, 50)


/** Navigation ******************************/
/********************************************/



/** Content ******************************/
/*****************************************/


main
	float: left

article
	border-bottom: 1px dashed
	+remsize(padding-bottom, 50)
	+remsize(margin-bottom, 50)

	h2
		text-transform: lowercase

		&:first-letter
			text-transform: uppercase

.intro
	+fsrem(19)
	font-weight: bold
	+remsize(margin-bottom, 30)


/** Twitter ******************************/
/*****************************************/




/** Footer ******************************/
/****************************************/

footer
	@extend %sidepart

%sidepart
	+fsrem(16)
	float: right
	text-align: right
	width: 21%

	div
		+remsize(margin-bottom, 60)