body
	color: $black
	font-family: "ff-enzo-web-1", "ff-enzo-web-2", sans-serif
	font-weight: 600
	line-height: 1.55
	+fsrem(21)

	.no-fontface &
		+fsrem(16)
		font-weight: 300

h1,
h2,
h3,
h4,
h5,
h6,
p
	margin: 0
	text-rendering: optimizeLegibility

p
	text-rendering: auto
	+remsize(margin-bottom, 10)

h1,
h2,
h3
	font-family: "bree-1", "bree-2", serif
	font-weight: bold
	font-style: normal
	line-height: 1.2

h1
	+fsrem(60)

h2
	+fsrem(40)
	+remsize(margin-bottom, 20)

h3
	+fsrem(30)

h4
	+fsrem(25)

a
	color: $color-foxtrot
	font-weight: bold
	text-decoration: none
	white-space: nowrap
	border-bottom: 1px solid transparent
	+single-transition(all, .1s, ease-out)

	&:focus,
	&:hover
		color: darken($color-foxtrot, 15%)

img
	vertical-align: top
	max-width: 100%
	+remsize(margin-top, 20)
	+remsize(margin-bottom, 20)

figure
	+remsize(margin-bottom, 20)

figcaption
	+fsrem(18)
	font-family: $breestack
	font-weight: 400
	font-style: italic
	text-align: center

time
	color: lighten($black, 30%)
	+fsrem(15)
	text-transform: uppercase
	display: block
	position: relative
	+remsize(margin-bottom, 20)






.middle
	text-align: center

.listleft
	li
		float: left

.unstyled,
.unstyled li
	margin: 0
	padding: 0
	list-style: none


-webkit-::selection
	color: $white
	background: $color-echo

-moz-::selection
	color: $white
	background: $color-echo

::selection
	color: $white
	background: $color-echo