body
	color: $black
	font-family: "ff-enzo-web-1", "ff-enzo-web-2", sans-serif
	font-weight: 600
	line-height: 1.45
	+fsrem(21)

	.no-fontface &
		+fsrem(16)
		font-weight: 300

h1,
h2,
h3,
h4,
h5,
h6,
p
	margin: 0
	+rem('margin-top', 20)
	text-rendering: optimizeLegibility

	&.alternative
		color: $color-alfa


h1,
h2,
h3
	font-family: "bree-1", "bree-2", serif
	font-weight: 400
	font-style: normal


h1
	+fsrem(100)

h2
	+fsrem(60)

h3
	+fsrem(40)
	font-weight: 200
	margin-top: 0
	margin-bottom: 60px

h4
	+fsrem(25)
	font-weight: 700

a
	color: $color-foxtrot
	text-decoration: none
	border-bottom: 1px solid transparent
	+single-transition(all, .1s, ease-out)

	&:focus,
	&:hover
		border-bottom: 1px solid

img
	vertical-align: top

.middle
	text-align: center

.listleft
	li
		float: left

.unstyled,
.unstyled li
	margin: 0
	padding: 0
	list-style: none


-webkit-::selection
	color: $white
	background: $color-echo

-moz-::selection
	color: $white
	background: $color-echo

::selection
	color: $white
	background: $color-echo



/* maki */
@import maki

[class*="maki-"]:before
	font-family: 'maki', sans-serif
	font-weight: normal
	font-style: normal
	vertical-align: middle
