<!doctype html>
<html lang="nl" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Jelmer op reis naar Peru in 2014 om vrijwilligerswerk te doen!">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="css/peru.css?v=0.3">

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="/mstile-144x144.png" />

	<script src="js/vendor/modernizr-2.7.0.min.js"></script>
	<script src="//use.typekit.net/pec8lcm.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
<header>
	<h1>Peru 2014</h1>
	<p>
		Op 7 februari 2014 vertrek ik voor 16 weken naar Cusco, Peru,
		om daar te helpen bij belangrijke vrijwilligersprojecten.
		Via de organisatie
		<a target="_blank" title="mijnbestemmingperu.nl" href="http://mijnbestemmingperu.nl/">Mijn Bestemming Peru</a>
		leer ik eerst een tijd Spaans, waarna ik kan meehelpen met onder andere het lesgeven in Engels
		aan Peruaanse kinderen. Lees hieronder hoe mijn reis verloopt, wat mijn plannen precies zijn, en hoe jij
		kunt helpen deze doelen te bereiken, als je dat wilt.
		Tijdens de reis kun je deze pagina, <a title="twitter.com/jelmerdemaat" href="//twitter.com/jelmerdemaat">Twitter</a>
		en/of <a href="//www.facebook.com/profile.php?id=100002434562108">Facebook</a>
		in de gaten houden voor updates!
	</p>
</header>

<main>
	{{ content }}
</main>

<aside>
	<!-- <div>
		Navigatie
		<nav>
			<ul class="unstyled">
				<li><a href="index.htm">Blog</a></li>
				<li><a href="over.htm">Uitleg</a></li>
				<li><a href="#hoe">Steun mij</a></li>
			</ul>
		</nav>
	</div> -->

	<div>
		Mijn info
		<ul class="unstyled">
			<li>
				<a title="Twitter" href="//twitter.com/jelmerdemaat">@jelmerdemaat</a>
			</li>
			<li>
				<a title="Facebook" href="//www.facebook.com/profile.php?id=100002434562108">
					Jelmer (Facebook)
				</a>
			</li>
			<li>
				<a href="mailto:post&#64;jelmerdemaat&#8228;nl">E-mail</a>
			</li>
		</ul>
	</div>
</aside>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
	<script src="js/plugins.js"></script>
	<script src="js/peru.min.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-46018884-1', 'peru2014.nl');
	  ga('send', 'pageview');
	</script>

</body>
</html>
